:root {
	// Body
	--body-bg: #f8fafc;

	//Colors
	--white: #ffffff;

	--gray-primary: #e5e7eb;
	--gray-secundary: #6b7280;

	--zinc-primary: #f4f4f4;
	--zinc-secundary: #a1a1aa;

	--indigo-primary: #4338ca;
	--indigo-secundary: #818cf8;

	--purple-primary: #1e293b;
	--purple-secundary: #0f172a;
	--purple-tertiary: #6875f5;

	// Typography
	--font-family-sans-serif: 'Nunito', sans-serif;
	--font-size-base: 1.12rem;
	--line-height-base: 1.6;

	--error-color: #dc3545
}
